page-new-dice {

}

page-new-dice .create-new-dice-button {
  text-align: center;
}

page-new-dice h3 {
  text-align: center;
  color: gray;
}

page-new-dice h4 {
  text-align: center;
  color: gray;
}
